.App-header {
	height: 10vh;

	display: flex;
	justify-content: space-between;
}

.App-logo {
	font-family: Gilroy Bold;
	opacity: .6;

	padding-left: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App-nav ul {
	list-style: none;

	display: flex;
}

.App-nav ul li {
	padding-right: 7.5vw;
}

.App-nav ul li a {
	font-family: Google Sans Bold;
	font-size: 15pt;
	text-decoration: none;
	color: #000000;

	opacity: .6;

	transition: opacity 300ms ease-in-out;
}

.App-nav ul li a:hover {
	opacity: 1;
}

.App-nav ul li a::after {
	content: '';
    display: block;
	height: 3px;
	width: 0;
    background: red;
    transition: width 300ms ease-in-out;
}

.App-nav ul li a:hover::after {
	width: 70%;
}

.App-nav ul li a#home::after {
    width: 0;
}

.App-nav ul li a#projects::after {
	width: 0;
}

.App-nav ul li a#skills::after {
	width: 0;
}

.App-nav ul li a#contact::after {
	width: 0;
}